h1, h2, h3 {
	font-weight:bold;
}

#JobTitleColorRed {
	color: red;
}

body {
	color: black;
}


a {
	text-decoration:none;
}


#skillslist li{
  list-style-type: none;
}

.topnavbar li{
  list-style-type: none;
}





















































































































































